* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: initial;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: rgba(7, 7, 7, 0.74);
}
.background {
  background-color: black;
  border: 1px solid black;
  border-radius: 7px;
  padding-left: 70px;
  margin-left: 400px;
  margin-right: 350px;
  margin-top: 120px;
  padding-bottom: 50px;
}
.image {
  height: 100px;
  width: 100px;
  margin-left: 250px;
  margin-top: 50px;
}
.welcome {
  color: white;
  padding-top: 10px;
  margin-left: 235px;
  font-size: 34px;
}
.line {
  width: 10%;
  height: 50%;
  background-color: rgb(190, 121, 163);
  margin-left: 260px;
}
.paragraph {
  color: white;
  font-size: 15px;
  padding-top: 10px;
  margin-left: 120px;
}
.btn1 {
  background-color: rgb(132, 39, 97);
  color: white;
  font-size: 13px;
  border-radius: 10px;
  padding-left: 150px;
  padding-right: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 120px;
}
.btn2 {
  color: white;
  font-size: 13px;
  background-color: black;
  border-radius: 7px;
  border: 1px solid pink;
  padding-left: 150px;
  padding-right: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 120px;
}
